<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyjd.tijia">

    <!-- 项目权限配置 -->
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 唤醒锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问精确定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 修改音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 允许读写系统设置项 使用设置时需要 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 读取启动设置 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <!-- 音视频通话所需权限 -->
    <!-- 唤醒锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".TJApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.main.MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/ThemeLogin" />
        <activity android:name=".activity.device_manage.DeviceManageActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.main.CaptureActivity" />
        <activity android:name=".activity.me.AboutActivity" />
        <activity android:name=".activity.me.ToturialActivity" />
        <activity android:name=".activity.me.ProfileActivity" />
        <activity android:name=".activity.me.SettingActivity" />
        <activity android:name=".activity.device_manage.RepairRecordActivity" />
        <activity android:name=".activity.device_manage.AddRepairRecordActivity" />
        <activity android:name=".activity.device_manage.MaintainRecordActivity" />
        <activity android:name=".activity.device_manage.FaultRecordActivity" />
        <activity android:name=".activity.duty_and_inspection.InspectionRecordActivity" />
        <activity android:name=".activity.duty_and_inspection.CallRecordActivity" />
        <activity android:name=".activity.device_manage.AddFaultRecordActivity" />
        <activity android:name=".activity.device_manage.AddInspectionRecordActivity" />
        <activity android:name=".activity.device_manage.AddOnDutyRecordActivity" />
        <activity android:name=".activity.device_manage.ElevatorListActivity" />
        <activity android:name=".activity.device_manage.ElevatorDetailActivity" />
        <activity android:name=".activity.RepairRecordDetailActivity" />
        <activity android:name=".activity.device_manage.RepairRecordDetailActivity" />
        <activity android:name=".activity.device_manage.FaultRecordDetailActivity" />
        <activity android:name=".activity.device_manage.EvaluationActivity" />
        <activity
            android:name=".activity.video_call.VideoCallActivity"
            android:theme="@style/ThemeLogin" />

        <!-- 设置环信应用的 appkey 换成自己的 -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1155170613115537#rems" />
        <!-- 声明sdk所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.duty_and_inspection.DutyAndInspectionManageActivity" />
        <activity android:name=".activity.maintenance.MaintenancePlanActivity" />
        <activity android:name=".activity.video_call.TerminalListActivity" />
        <activity android:name=".activity.realtime_monitor.RealtimeMonitorActivity" />
        <activity android:name=".activity.VideoMonitorActivity"></activity>
    </application>

</manifest>